<h1>About</h1>
<p>
    Some info about this tool that I was going to fill out but forgot to.
</p>
<div>
    <p>
        About me: CodeCore student, trying to get a grip on Rails
    </p>
    <img alt="My bad hair day" src="https://i.ytimg.com/vi/xIVGlOPjG2o/maxresdefault.jpg"/>
</div>
